<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <script src="/scripts/script.js"></script>
    <link href="/css/style.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="topNavPart">
            <p id="burgerStatment">Asad Jawaid's Portfolio Page</p>
            <button id="burgerMenu">☰</button>
        </div>
        <nav>
            <div class="navElement"><a href="/">Profile</a></div>
            <div class="navElement"><a href="/skillsQualifications">Skills and Qualifications</a></div>
            <div class="navElement"><a href="/project">Projects</a></div>
            <div class="navElement"><a href="/contact">Contact</a></div>
        </nav>
    </header>  
     {{{body}}}
</body>
</html>