
.Profile, .Experience {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    padding:2em;
    margin-top: 5%;
    background: #1a495e;
}

.left_profile_part {
    margin-top:auto;
    margin-bottom:auto;
    color: #ecede7;
    text-align: left;
    font-size: 1.5em;
    font-family: 'Orbitron';
}

.profile_image {
    height:150px;
    width:150px
}

.Experience {
    
    width:80%;
    background: transparent;
    display: flex;
    flex-direction: column;
} 

.Experience > h1 {
     font-family: 'Orbitron';
}

@media (min-width:1000px) {

    .Profile {
        margin-top: 0;
        justify-content: space-around;
        opacity:0.7;
    }

    .left_profile_part {
        font-size: 3em;
    }

    .profile_image {
    height:300px;
    width:300px;
    }

    .exp_details {
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-around;
        background: #1a495e;
    }

 }