
.Profile, .Experience, .Skills {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    margin-left:auto;
    margin-right:auto;
    padding:2em;
    background: #1a495e;
    justify-content: space-around;
}

.left_profile_part {
    margin-top:auto;
    margin-bottom:auto;
    color: #ecede7;
    text-align: left;
    font-size: 0.86em;
    font-family: 'Orbitron';
    width:50%;
}

.profile_image {
    height:100px;
    width:100px;
    border:2px solid grey;
    border-radius: 10em;
}

.Experience, .Skills {
    
    width:80%;
    background: transparent;
    display: flex;
    flex-direction: column;
} 

.Experience, .Skills > h1 {
     font-family: 'Orbitron';
}



.skillList {
    gap:2%;
    display: flex;
    flex-direction: column;
    list-style-type:none ;
    margin: 0;
    padding:0;
    max-width: auto;
    font-family: 'Orbitron';
    overflow-y:scroll;
    height:30vh; 
}

.eachSkill {
    padding: 0.5em;
    color: aliceblue;
    border-radius: 1em;
    background: #1a495e;

}


@media (min-width:1000px) {

    .Profile {
        margin-top: 0;
        justify-content: space-around;
    }

    .left_profile_part {
        font-size: 3em;
    }

    .profile_image {
    height:300px;
    width:300px;
    }

    .exp_details {
        display:flex;
        flex-direction: column;
        width:100%;
        justify-content: space-around;
        background: #1a495e;
        margin-top:2%;
        padding: 1em;
    }

    .skillList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style-type:none ;
    margin: 0;
    padding:0;
    max-width: auto;
    font-family: 'Orbitron';
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden;
    height:90vh;
}  

.eachSkill {
    margin:auto;
    width:70%;
    padding: 2em;
    text-align: center;
}

.eachSkill:hover {
     color: #4497db;
}

 }