#techTitle {
    padding-top: 1em;
    color: #ecede7;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    font-family: 'Orbitron';
    display:none;
    margin-top: 1%;

}

#techTitle > p {
    border-bottom: 2px double #ecede7 ;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.techType {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width:auto;
    align-items: center;
    justify-content: space-around;
    margin-top:1%;
    height:3em;
}

.techType > button {
    width: 100%;
    background-color: transparent;
    padding:1em;
    font-size: 1em;
    font-family: 'Orbitron';
    border:0;
    color:#ecede7;
}

.techType > button:hover {
    color: #CBDB44;
    opacity: 0.8;
    font-size: 1.25em;
}

.techList {
   width:80%;
   margin-left: auto;
   margin-right: auto;
   height: 15em;
}

.programmingLanguages, .webDevelopment {
    min-width:100%;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding-top: 1em;
}

.eachTech {
   margin-left: auto;
   margin-right: auto;
   height:250px;
   width:250px;
}

.techImg {
    height: 120px;
    width: 120px;
}


.techImg:hover {
    height: 200px;
    width: 200px;
}
@media (min-width:1000px) {
    #techTitle {
        display:block;
    }
     .techType {
        display: flex;
    }
    .techList {
        display: grid;
    }
}


@media (max-width:1000px) {
    #techTitle {
        display:none;
    }
    .techType {
        display: none;
    }
    .techList {
        display: none;
    }
}

