#techTitle {
    padding-top: 1em;
    color: #ecede7;
    width: 80%;
    text-align: center;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Orbitron';
    display:none;
    margin-top: 1%;

}

#techTitle > p {
    border-bottom: 2px double #ecede7 ;
    width:70%;
    margin-left: auto;
    margin-right: auto;
}

.techType {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    align-items: center;
    justify-content: space-around;
    margin-top:1%;
    height:5em;
}

.techType > button {
    width: 100%;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Orbitron';
    border:0;
    color:#ecede7;
}

.techType > button:hover {
    color: #CBDB44;
    opacity: 0.8;
    font-size: 1.25em;
}

.techList {
   width:80%;
   margin-left: auto;
   margin-right: auto;
   height: 15em;
}

.programmingLanguages, .webDevelopment {
    min-width:100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25% ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    padding-top: 1em;
}

.eachTech {
   margin-left: auto;
   margin-right: auto;
   height:250px;
   width:250px;
}

.techImg {
    height: 120px;
    width: 120px;
}

.techImg_selected {
    height: 200px;
    width: 200px;
}


.techImg:hover {
    height: 200px;
    width: 200px;
}

.projects_parent {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

}

.projects {
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.projects > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.65em;
    font-family: 'Orbitron';
    padding: 2em;
    color:rgba(255, 255, 255, 0.815);
    background: linear-gradient(90deg,rgb(45, 81, 97) 0%, rgb(55, 95, 92) 36%, rgb(15, 53, 88) 95%);

    height: auto;
    width: auto;
}

#slideButtons {
        border-radius: 1em;
        display: flex;
        margin-top: 1%;
        width:auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
    }

#slideButtons > button {
        margin:2em;
        border: 2px solid #CBDB44;
        padding: 0.5em;
        border-radius: 2em;
    }

@media (min-width:1000px) {
    #techTitle {
        display:block;
    }
     .techType {
        display: flex;
    }
    
    .techList {
        display: grid;
    }

    .projects_parent {
        margin-top: 1%;
        flex-direction: column;
        height: 100%;
        padding: 2em;
    }

    .projects {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        flex-direction: row;
       
    }

    .projects > div {
        width: 25%;
        overflow: scroll;
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 1%;
    }


}


@media (max-width:1000px) {
    
    #techTitle {
        display:none;
    }
    .techType {
        display: none;
    }
    .techList {
        display: none;
    }

    #slideButtons {
        margin-top: 0;
    }

    #slideButtons {
        padding: 0;
    }
}

/*commen/