#techTitle {
    color: #ecede7;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-size: 1.25em;
    font-family: 'Orbitron';
    border: 2px solid #CBDB44;
    padding: 1em; 
    border-radius: 5em;
    background-color: #6c6b6b;
    display:none;
}

.techType {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border: 2px solid grey;
    align-items: center;
    margin-top:5%;
    justify-content: space-around;
    padding: 2em;
}
.techList {
    margin-top: 5%;
   width:80%;
   margin-left: auto;
   margin-right: auto;
}

.programmingLanguages, .webDevelopment {
    min-width:100%;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    border:2px solid #CBDB44;
    text-align: center;
    background-color: #6c6b6b;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    height:50%;
    padding-top: 5em;
}

.eachTech {
   margin-left: auto;
   margin-right: auto;
   height:250px;
   width:250px;
}

.techImg {
    height: 120px;
    width: 120px;
}


.techImg:hover {
    height: 240px;
    width: 240px;
}
@media (min-width:1000px) {
    #techTitle {
        display:block;
    }
     .techType {
        display: flex;
    }
    .techList {
        display: grid;
    }
}


@media (max-width:1000px) {
    #techTitle {
        display:none;
    }
    .techType {
        display: none;
    }
    .techList {
        display: none;
    }
}

