
#EditStatement {

    color:rgba(255, 255, 255, 0.815);
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Inter';
    margin-top: 1%;
}


.qualifications {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}

.qualifications > div {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}


.eachQualification {
    color:rgba(255, 255, 255, 0.815);
    margin: 5%;
    padding: 2em;
    background: #1a495e;
    border-radius:1em;
}
.qual_name {
    font-family: 'Inter';
    font-size: 1.5em;
}
.eachQualification > div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.show_layout {
    width: 100%;
    text-align:left ;
    margin: 2%;
}

.show {
    font-family: 'Inter';
    font-size: 0.85em;
    border-radius: 5em;
    border:1px solid black;
}

.topics {
    gap:2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style-type:none ;
    margin: 0;
    padding:0;
    max-width: auto;
    font-family: 'Inter';
}

.eachTopic {
    
    font-size: 0.65em;
    padding: 0.5em;
    color: aliceblue;
    border-radius: 1em;
    background: #1e688a;

}

.qualificationsDetails {
    display: none;
}



@media (min-width:1000px) {

    #cert_link {
        display:none;
    }
    .cert_img {
        height:65%;
        width:100%;
        border:10px solid grey;
        border-style: ridge;
    }
    .qualifications {
     display: flex;
     flex-direction: row;
     justify-content:space-around; 
   }

   .listOfQualifications {
    
   }

.qualifications > div {
     width:100%;
}


.eachQualification {
    height: auto;
     border: 2px solid black;
    
}

.eachQualification:hover {
    color:#CBDB44;
}
.eachQualification > h1 {
    
}
.eachQualification > div {

}

.show_layout {
   
}

.show {
    display: none;
}

.topics {
  display:none;
}

.eachTopic {
font-size:1em;
}

.qualificationsDetails {
    display: block;
    margin-right:2%;
}

.button_qualification {
    margin-top:2%;
    text-align: left;
    width:100%;
    background: transparent
}

.each_button {
   
    background-color: #14242c;
    font-family: 'Inter';
    font-size: 1em;
    border: 2px solid black;
    color:#f9fbec;
    background: #1a495e;
}

}

@media (max-width:1000px) {
    .qualificationsDetails {
        display: none;
    }
}