
#EditStatement {

    color: #ecede7;
    width: 80%;
    text-align: center;
    margin: auto;
    font-family: 'Orbitron';
    margin-top: 1%;
}


.qualifications {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
   
}

.qualifications > div {
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}


.eachQualification {
    margin: 5%;
    border-radius: 5em;
    padding: 2em;
    background: radial-gradient(circle,rgb(82, 145, 172) 46%, rgb(164, 164, 66) 92%);
}
.qual_name {
    font-family: 'Orbitron';
    font-size: 1.5em;
}
.eachQualification > div {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.show_layout {
    width: 100%;
    text-align:left ;
    margin: 2%;
}

.show {
    font-family: 'Orbitron';
    font-size: 0.85em;
    border-radius: 5em;
    border:1px solid black;
}

.topics {
    gap:2%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style-type:none ;
    margin: 0;
    padding:0;
    width: auto;
    font-family: 'Orbitron';
}

.eachTopic {
    
    font-size: 0.65em;
    padding: 0.5em;
    color: aliceblue;
    border-radius: 5em;
    background-color: rgba(158, 195, 73, 0.83);

}

.qualificationsDetails {
    display: none;
}

@media (min-width:1000px) {
    .qualifications {
     display: flex;
     flex-direction: row;
     justify-content:space-around; 
   }

   .listOfQualifications {
   }

.qualifications > div {
   
}


.eachQualification {

}

.eachQualification:hover {
    color:#CBDB44;
}
.eachQualification > h1 {
    
}
.eachQualification > div {

}

.show_layout {
    display: none;
}

.show {

}

.topics {
   height:0;
   overflow: hidden;
}

.eachTopic {
   
}

.qualificationsDetails {
    display: block;
    width: 50%;
}
}

@media (max-width:1000px) {
    .qualificationsDetails {
        display: none;
    }
}