@import url("project.css");

* {
    margin:0;
}

body {
    background: #82a8b8;
    background: linear-gradient(90deg,rgba(130, 168, 184, 1) 0%, rgba(97, 97, 83, 1) 36%, rgba(171, 181, 85, 1) 95%);
}

nav {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: auto;
    width: 100%;
    height:100%;
    background-color:#a2a951;
    padding:2em;
    font-family: 'Orbitron';
}

/* .navElement {
    width: 25%;
    text-align: center;
    max-height: 15%;
} */

.topNavPart {
    background-color: #a2a951;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:2em;
}

#burgerMenu {
    border:0px;
    margin:0px;
    font-size: 1em;
    background-color: #a2a951;
}

#burgerStatment {
    color: #ecede7;
    width: 80%;
    text-align: right;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Orbitron';
}

a {
    text-decoration: none;
    color: #ecede7;
    font-size: 1.5em;
}

a:hover {
    color: #CBDB44;
    font-size: 2em;
}

@media (min-width: 1000px) {
    nav {
        position: static;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width:auto;
        background-color: transparent;
        height: 5em;
    }

    nav > div {
        margin-top:0;
        width: 25%;
        text-align: center;
    }

    .topNavPart {
        display: none;
    }
}