* {
    margin:0;
}

body {
    background-color: #403B3B;
}

nav {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: auto;
    width: 100%;
    height:100%;
    background-color:#6c6b6b;
    padding:2em;
    font-family: 'Orbitron';
}

.topNavPart {
    background-color: #6c6b6b;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:2em;
}

#burgerMenu {
    border:0px;
    margin:0px;
    font-size: 2em;
    background-color: #6c6b6b;
}


nav > div {
    margin-top:15%;
}
a {
    text-decoration: none;
    color: #ecede7;
    font-size: 2em;
}

a:hover {
    color: #CBDB44
}

@media (min-width: 1000px) {
    nav {
        position: static;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width:auto;
    }

    nav > div {
        margin-top:0;
    }

    .topNavPart {
        display: none;
    }
}