@import url("project.css");
@import url("skillQualification.css");
@import url("main.css");

* {
    margin:0;
}

body {

    background: linear-gradient(90deg,rgb(24, 45, 54) 0%, rgb(63, 121, 116) 36%, rgb(15, 53, 88) 95%);
    color:rgba(255, 255, 255, 0.815);
}

nav {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: auto;
    width: 100%;
    height:100%;
    background-color:#1a495e;
    padding:2em;
    font-family: 'Inter';
}

/* .navElement {
    width: 25%;
    text-align: center;
    max-height: 15%;
} */

.topNavPart {
    background-color: #1a495e;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding:2em;
}

#burgerMenu {
    border:0px;
    margin:0px;
    font-size: 1em;
    background-color: #1a495e;
}

#burgerStatment {
    color: #ecede7;
    width: 80%;
    text-align: right;
    margin: auto;
    font-size: 1.5em;
    font-family: 'Inter';
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.815);
    font-size: 1.5em;
}

a:hover {
    color: #4497db;
}






@media (min-width: 1000px) {
    nav {
        position: sticky;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        width:auto;
        height: 1em;
        background-color: transparent;

    }

    nav > div {
        margin-top:0;
        width: 25%;
        text-align: center;
    }

    .topNavPart {
        display: none;
    }
}