<div class="Profile">
    <div class="left_profile_part">
        <p>Welcome to my Portfolio</p>
        <p>I'm Asad Jawaid</p>
        <p style="color:#4497db;; font-size:0.5em; width:70%">
          A Frontend Web Developer building robust, user-friendly web applications with a strong focus on architecture, security, and testing. I thrive on problem-solving and bringing real quality to products.
        </p> 
    </div>
    <div class="right_profile_part">
        <img src="./profile.jpg" alt="Asad" class="profile_image"/>
    </div>
</div>

<div class="Skills">
    <h1 id="skills_head">Skills</h1>
    <div class="skillList">
        {{#each skills_list}}
            <div class="eachSkill">
                <h1 class="skillTitle">{{this.skill_name}}</h1>
                <p class="skillDesc">{{this.skill_desc}}</p>
            </div>
        {{/each}}
    </div>
</div>

<div class="Experience">
    <h1 id="exp_head">Experience</h1>
     {{#each experience}}
    <div class="exp_details">
        <h1>{{this.company_name}} ({{#TimeDateFix this.start_date}} {{/TimeDateFix}} - {{#TimeDateFix this.end_date}} {{/TimeDateFix}})</h1>
        <p>{{this.company_desc}}</p>
        
    </div>

    {{/each}}
</div>