<div class="Profile">
    <p>Hello, my name is Asad Jawaid, I am working myself towards Web Development and my cat's name is Shifu</p>
    <img src="" alt="Asad"/>
</div>

<div class="Experience">
    <h1>Experience</h1>
     {{#each experience}}
    <div>
        <h1>{{this.company_name}}</h1>
        <p>{{this.company_desc}}</p>
    </div>

    {{/each}}
</div>