<div>
    <p id="techTitle">Select the technologies you are looking for in my projects</p>
    <div class="techList">
        {{#each tech_list}}
            <div class="eachTech">
                <img src={{this.img_small}} alt={{this.tech_name}} class="techImg"/>
            </div>
        {{/each}}
    </div>
    <div>
        {{#each project_list}}
        <div>
            <h1>{{this.project_name}}</h1>
        </div>
        {{/each}}
    </div>
</div>