<h1 id="EditStatement">Press Qualification for more details</h1>
<div class="qualifications">
    <div class="listOfQualifications">
    {{#each qualifications}}
    <div class="eachQualification" >
        <h1 class="qual_name">{{this.qual_name}}</h1>
        <div>
        <div class="show_layout"><button class="show">Show More</button></div>
            <ul class="topics" style="display: none;">
                {{#TopicArr this.topics}}
        
                {{/TopicArr}}
            </ul>
            <p style="display:none" id="cert_link">{{this.cert_img}}</p>
        </div>
    </div>

    {{/each}}
    </div>
    <div class="qualificationsDetails">
        <img src="https://certificates.dev/.netlify/images?url=https:%2F%2Fapi.certificates.dev%2Fcertificates%2Fthumbnail%2Fa07af103-d4bd-4f03-8133-feabc0dc2792.jpg" class="cert_img"/>
        <p></p>
    </div>
</div>